html {
    height: 100%;
}
body {
    font-family: 'Courgette', cursive;
}
.body {
    height: 100%;
    background-color:purple;
    color:lightgreen;
}
a {
    text-decoration:none;
    color:hotpink;
}
.header {
    display:flex;
    justify-content:center;
    font-family: 'Sigmar One', cursive;
}
.navbar {
    display:flex;
    justify-content:space-around;
    margin:10px;
    padding:8px;
    border-radius:50%;
    border-left:10px solid black;
    border-bottom:5px solid black;
}
.main {
    border-radius:90%;
    border:5px solid;
    height:450px;
    background-size:90px;
    background-image:url("https://mobileimages.lowes.com/product/converted/733259/733259384576lg.jpg");
}
.social-image{
    width: 30px;
    margin: 15px;
}
.gallery {
    display:flex;
    justify-content:space-around;
}
.thumbnail-image {
    width:100px;
    height:100px;
}
.thumbnail {
    display: flex;
    justify-content:space-between;
}
.footer {
}
.social{
    display: flex;
    justify-content:center;
}
.copyright {
    display: flex;
    justify-content:space-around;
}

.aboutMain {
    display: flex;
}
.leftPane {
    width:50%;
}
.rightPane {
    width:50%;
}
.aboutImg {
    width:250px;
}