html {
    height: 100%;
}

body {
    height: 100%;
    background-color:purple;
    color:lightgreen;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.thumbnail-image {
    width:100px;
    height:100px;
}